@font-face {
    font-family: dos;
    src: url('MorePerfectDOSVGA.ttf');
}
html {
	background-color: black;
	font-family: dos;
	color: white;
    cursor:none;
	height: 100%;
	width: 100%;
}

::selection {
	background-color: black;
	color: white;
}

::-moz-selection {
	background-color: black;
	color: white;
}